@keyframes rainbowCycle{
	0% {color:#ff1d87;}
	16% {color:#a071ff;}
	33% {color:#40b9ff;}
	50% {color:#15ff57;}
	66% {color:#ffed29;}
	83% {color:#ff5f2e;}
	100% {color:#ff1d87;}
}

/* noble font */
body {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-variant: small-caps;
	color: #fff;
}

/* humble navigation bar */
.navbar.fixed-top {
	background-color: #000 !important;
	background-image: url(img/shadedBordersSoft.png), url(img/darkNoise.jpg);
	background-size: 100% 100%,auto;

	/* inset, hori offset, verti offset, blur radius */
	box-shadow: inset 0 0 7px rgba(255,255,255,0.2);
	border: 0;
}

.navbar-brand {
	color: white !important;
}

/* prevent white flickering before images load */
#page {
	background-color: #000;
}

/* dignified main area */
#topofscroll {
	background-color: #000 !important;
	border:3px solid transparent;
	border-image: url(img/frameBorder.png) 3 round;
	border-radius: 2px;

	background-image: url(img/shadedBordersSoft.png), url(img/darkNoise.jpg);
	background-size: 100% 100%,auto;
}
#region-main {
	background-color: transparent !important;
}


/* many illegal things to center title */
.assessment {display: none}
.d-flex {display: block !important;}
.mr-auto {margin-right: 0 !important;}
.page-context-header {justify-content: center;}

.navicon-seperator {
	filter: invert();
}

/* striking title */
.h2 {
	color:#ece2b6;
	text-shadow: 0px 1px 0px #733726,0px 2px 0px #875626,0px 2px 1px #000,0px 2px 3px #000;
}
/* fancy ornaments */
.h2:before {
	background: url(img/featherLeft.png) no-repeat;
	left:-39px;
}
.h2:after {
	background: url(img/featherRight.png) no-repeat;
	right:-39px;
}
.h2:before, .h2:after{
	content: '';
    display: block;
    width: 39px;
    height: 23px;
    position: absolute;
    top: 8px;
}

/* arcane submission button */
.btn, .btn-primary {
	background: linear-gradient(to bottom,transparent 0%,currentColor 500%);
	margin:16px;
	padding:8px 16px;
	animation:rainbowCycle 5s infinite ease-in-out;
	box-shadow:0px 0px 0px 1px #000,0px 0px 1px 2px currentcolor;
	background:linear-gradient(to bottom,transparent 0%,currentColor 500%);
	border-color: #ece2b6 #875526 #733726 #dfbc9a;
	border-radius: 0;

	font-family: Georgia, 'Times New Roman', Times, serif;
	font-variant: small-caps;
}

.generaltable {
	color:white;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-variant: small-caps;
}

.generaltable tbody tr:hover {
	color:white;
}
