:root {
    --eye-closed: "M -29,-25 V 25 L 25,25.000001 V -24.999999 Z M 23.762824,-0.372539 C 21.088564,4.818671 11.387234,12.729151 2.563084,13.757871 -8.656896,15.065891 -14.339596,10.174701 -19.955956,9.888331 -22.519216,9.757631 -26.627076,9.310871 -27.108496,6.773281 -26.62894,9.312944 -22.518693,9.757513 -19.955956,9.888331 -14.464872,10.168629 -8.658586,15.065863 2.562403,13.75795 11.386008,12.729475 21.089193,4.820925 23.762824,-0.372539 Z";
    --eye-open: "M -29,-25 V 25 L 25,25.000001 V -24.999999 Z M 23.762824,-0.37253937 C 21.088564,4.8186706 11.387234,12.72915 2.5630842,13.75787 -8.6568958,15.06589 -14.339596,10.1747 -19.955956,9.8883306 -22.519216,9.7576306 -26.627076,9.3108706 -27.108496,6.7732806 -27.439226,5.0300006 -24.191004,3.7565966 -21.728924,0.77248666 -18.229784,-3.4685734 -10.1843,-9.9595618 -1.7601758,-9.8959898 9.3467002,-9.8121728 18.947615,-5.9415224 23.762824,-0.37253937 Z";
}

@keyframes morph {
    0% {
        d: path(var(--eye-closed));
    }
    100% {
        d: path(var(--eye-open));
    }
    
}

.lid-open {
    animation: morph 0.75s forwards cubic-bezier(0,1,.5,1);
}
