.animation-container {
	position: relative;
	width: 200px;
	height: 100px;
	padding-top: 30;
	padding-left: 30;
  }

  .ring {
	position: absolute;
	width: 175px;
	height: 175px;
  }

  .outer-ring1 {
	/* animation: scaleAnimation 56s infinite ease-in-out; */
  }

  .outer-ring2 {
	/* animation: scaleAnimation 28s infinite ease-in-out; */
  }

  .ring1 {
	animation-delay: 0s;
	animation: rotateAnimation 60s infinite linear;
	mix-blend-mode: lighten;
	opacity: 0.5;
  }

  .ring2 {
	animation-delay: -15s;
	animation: rotateAnimation 120s infinite linear;
	mix-blend-mode: lighten;
	opacity: 0.5;
 }


@keyframes rotateAnimation {
	0% {
		transform: scale(1) rotate(0deg);
	}
	50% {
		transform: scale(1.5) rotate(180deg);
	}
	100% {
		transform: scale(1) rotate(360deg);
	}

}